#-keepattributes SourceFile,LineNumberTable
#-optimizationpasses 5
-dontobfuscate

# App classes
-keep class org.connectbot.**
-keepclassmembers class org.connectbot.R$* {
	public static <fields>;
}
-keepattributes InnerClasses

-dontwarn javax.annotation.Nullable
